<div class="position-wrapper">
	<div class="company-header"></div>
	<div class="main-text">
		Hi {{name}}, thanks for waiting.<br /><br />
		Keep an eye on your position, we will text you when we are almost ready to see you for your <br />{{serviceName}}:<br /><br />
		<span class="position">{{position}}</span><br /><br />
		~ {{timeRemaining}} minute(s) left.
	</div>
	<div class="visit-us">
		<button>Visit our website</button>
	</div>
	<div class="leave-queue">
		<button ng-click="removeFromQueue(queuer)">Leave queue</button>
	</div>
</div>