<div bb-basket-list class="modal-content bb-basket-mini"> 

  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h5 class="modal-title"><span translate="BASKET_DETAILS_TITLE"></span></h5>
  </div>

  <div class="modal-body">
    <p ng-hide="bb.basket.items" translate="BASKET_DETAILS_NO"></p>
    <table class="table table-bordered" ng-show="bb.basket.items">
      <thead>
        <tr>
          <th translate="ITEM"></th>
          <th translate="BASKET_ITEM_APPOINTMENT"></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in bb.basket.items">
          <td >
            {{ item.service_name }}
          </td>
          <td>
            {{ item.date.date | datetime: "ddd Do MMM":false}} at {{ item.date.date | datetime: "h:mma":false}} for {{ item.duration | time_period }}
          </td>
          <td class="text-center">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteBasketItem(item)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate="PROGRESS_CANCEL"></button>
    <button ng-show="bb.basket.items" class="btn btn-primary" ng-click="checkout('basket') && cancel()" translate="BASKET_CHECKOUT"></button>
  </div>

</div>