<div bb-basket-list ng-init="checkStepTitle('Check Your Basket')" class="bb-basket">
	<div class="row">


		<div class="col-sm-12">
			<div class="bb-subcontent">

				<h2 class="bb-section-title"><span translate="BASKET_TITLE"></span></h2>
				<div class="bb-empty-basket-full-screen" ng-hide="items">
					<h3><span translate="BASKET_ITEM_NO"></span></h3>
					<p><span translate="BASKET_ITEM_ADD_INSTRUCT"></span></p>
				</div>
				<table class="table table-bordered" ng-show="items">
					<thead>
						<tr>
							<th><span translate="ITEM"></span></th>
							<th><span translate="ITEM_PRICE"></span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" ng-class="{'last-item': $last}">
							<td>
			 					<p>
			 						{{item.describe()}}
			 						<br/> 
			 						<small>{{item.date.date | datetime: "h:mma dddd Do MMMM":false}}</small>
			 						<br/>
			 						<small>{{item.resource.getAddress() | address_single_line }}</small>
			 						<br/>
			 						<small ng-if="item.recipient"><span translate='BASKET_RECIPIENT'></span> {{ item.recipient }} </small>
			 					</p>
			 					<p></p>
							</td>
							<td class="text-right">
								{{ item.total_price | pretty_price }}
								<div ng-if="item.certificate_paid > 0">
								 <small><span translate="BASKET_CERTIFICATE_PAID"></span>: {{ item.certificate_paid | pretty_price }}</small>
							  </div>
							</td>
							<td class="text-center">
			 					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteBasketItem(item)"></span>
							</td>
			  		</tr>
            <tr ng-if="basket.hasDeal()">
              <th class="text-left"><span translate="BASKET_GIFT_CERTIFICATES"></span></th>
              <th>&nbsp;</th>
						  <th>&nbsp;</th>
					  </tr>
		        <tr ng-if="basket.hasDeal()" ng-repeat="deal_code in basket.getDealCodes()" ng-class="{'last-item': $last}">
							<td>
			 					<p>
			 						{{deal_code.description}}
			 						<br/> 
			 					</p>
			 					<p></p>
							</td>
							<td class="text-right">
								{{ deal_code.value | pretty_price }}
							</td>
							<td class="text-center">
			 					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeDeal(deal_code)"></span>
							</td>
			  		</tr>

			  		<tr data-ng-if="basket.hasDeal() || basket.hasCoupon()">
							<th class="text-right"><span translate="BASKET_PRICE_ORIGINAL"></span></th>
							<th class="text-right">{{basket.fullPrice() | ipretty_price }}</th>
							<th>&nbsp;</th>
						</tr>
            
            <tr data-ng-if="basket.questionPrice()">
							<th class="text-right"><span translate="BASKET_BOOKING_FEE"></span></th>
							<th class="text-right">{{basket.questionPrice() | currency}}</th>
							<th>&nbsp;</th>
						</tr>
						
					
			  	  <tr data-ng-if="basket.hasDeal()">
							<th class="text-right"><span translate="BASKET_GIFT_CERTIFICATES_TOTAL"></span></th>
							<th class="text-right">{{basket.totalDeals() | pretty_price }}</th>
							<th>&nbsp;</th>
						</tr>

					  <tr data-ng-if="basket.hasDeal()">
							<th class="text-right"><span translate="BASKET_GIFT_CERTIFICATE_BALANCE"></span></th>
							<th class="text-right">{{ basket.totalCertificatePaid() | currency }}</th>
							<th>&nbsp;</th>
						</tr>

						<tr data-ng-if="basket.hasCoupon()">
							<th class="text-right"><span translate="BASKET_COUPON_DISCOUNT"></span></th>
							<th class="text-right">{{(bb.basket.fullPrice() - bb.basket.totalPrice()) | currency}}</th>
							<th>&nbsp;</th>
						</tr>

						<tr data-ng-if="basket.total_price > 0">
							<th class="text-right"><span translate="BASKET_TOTAL"></span></th>
							<th class="text-right">{{basket.total_price | pretty_price }}</th>
							<th>&nbsp;</th>
						</tr>
						<tr data-ng-if="basket.total_due_price != basket.total_price">
							<th class="text-right"><span translate="BASKET_TOTAL_DUE_NOW"></span></th>
							<th class="text-right">{{basket.total_due_price | currency }}</th>
							<th>&nbsp;</th>
						</tr>
					</tbody>
			  </table>

				<div ng-if="bb.company_settings.has_coupons" class="bb-coupon-box">
					<span translate='BASKET_COUPON_APPLY'></span>
					<input ng-model="coupon_code"/>
					<button type="button" class="btn btn-primary btn-xs" ng-click="applyCoupon(coupon_code)"><span translate="PROGRESS_APPLY"></span></button>
				</div>

          <div class="bb-coupon-box" ng-if="bb.company_settings.has_vouchers">
            <form class="form-inline">
              <div ng-show="!show_voucher_box">
                <a ng-click="show_voucher_box = true"><span translate='BASKET_GIFT_CERTIFICATE_QUESTION'></span></a>
              </div>
              <div ng-show="show_voucher_box" class="form-group">
                <label ng-if="!basket.hasDeal()" for="deal"><span translate='BASKET_GIFT_CERTIFICATE_APPLY'></span>:</label>
                <label ng-if="basket.hasDeal()" for="deal"><span translate='BASKET_GIFT_CERTIFICATE_APPLY_ANOTHER'></span>:</label>
                <div class=" input-group">
                  <input type="text" class="form-control input-sm" id="deal_code" name="deal_code" ng-model="deal_code" placeholder="Enter a voucher code">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="applyDeal(deal_code)"><span translate='PROGRESS_APPLY'></span></button>
                  </span>
                </div>
              </div>
            </form>
          </div>

			</div>
		</div>

		<div class="col-sm-12">
			<div class="bb-step-navigation">
				<div class="row">
					<div class="col-sm-9 col-sm-push-3 text-right">
						<div ng-if="bb.company.$has('events')">
							<button type="button" class="btn btn-primary" ng-click="addAnother('event_list')"><span translate="BASKET_ITEM_ADD"></span></button>
						</div>
						<div ng-if="bb.company.$has('services')">
						  <button type="button" class="btn btn-primary" ng-click="addAnother('service_list')"><span translate="BASKET_ITEM_ADD"></span></button>
	          </div>
						<button type="button" class="btn btn-primary" ng-click="checkout('checkout')"><span translate="BASKET_CHECKOUT"></span></button>
					</div>
					<div class="col-sm-3 col-sm-pull-9">
						<button type="button" class="btn btn-default" ng-click="loadPreviousStep()" ng-show="bb.current_step > 1"><span translate="PROGRESS_BACK"></span></button>
					</div>
				</div>
			</div>	
		</div>

	</div>
</div>