<div class="breadcrumbs-holder" ng-init="setBasicRoute([])">
  <ol class="breadcrumb">
    <li ng-repeat="step in steps" type="button" ng-class="{active: $last}" href="" ng-click="loadStep(step.number)" >
      <a href="" ng-click="loadStep(step.number)" ng-if="!$last">
        <span class="step-num">{{step.number}}.</span>
        <span class="step-title">{{step.title}}</span>
      </a>
      <span class="step-num" ng-if="$last">{{step.number}}.</span>
      <span class="step-title" ng-if="$last">{{step.title}}</span>
    </li>
  </ol>
</div>
