<div class="modal-header">
  <h1 class="modal-title"><span translate="CANCEL_QUESTION"></span></h1>
</div>

<div class="modal-body">
  
  <ul class="confirmation-summary">
    <li class="row confirmation-summary-item">
      <div class="col-xs-3"><span translate="ITEM_SERVICE"><span>:</div>
      <div class="col-xs-9">{{booking.service_name}}</div>
    </li>
    <li class="row confirmation-summary-item">
      <div class="col-xs-3"><span translate="ITEM_WHEN"></span>:</div>
      <div class="col-xs-9">{{booking.datetime | datetime: "h:mma dddd Do MMMM" : false}}</div>
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm_delete()"><span translate="PROGRESS_CANCEL_BOOKING"></span></button>
  <button class="btn btn-link" ng-click="cancel()"><span translate="PROGRESS_CANCEL_CANCEL"></span></button>
</div>
