<div ng-controller="Checkout">
  <div class="bb-checkout">

    <div ng-show="checkoutFailed" class="bb-frame">
      <div class="bb-head">
        <h3>
          I'm sorry, for some reason this booking failed. Please Try again.
        </h3>
      </div>
      <div>
        <p>I'm sorry, for some reason this booking failed. Please Try again.</p>
      </div>
    </div>

    <div ng-show="total" class="bb-frame">  
      <div class="bb-head">
        <h2>Your details<h2>
      </div>
      <div class="bb-node">
      <h3>Client Details</h3>
        <ul>
          <li>
            <label>Name:</label><span>{{client.getName()}}</span>
          </li>
          <li>
            <label>Email:</label><span>{{client.email}}</span>
          </li>
          <li>
            <label>Address:</label><span>{{client.addressSingleLine()}}</span>
          </li>
        </ul>
      </div>

      <div class="bb-node">
        <h3>Booking Confirmation Details</h3>
        <ul class="show_list" ng-repeat="i in total.items">
          <li>
            <label>Service:</label><span>{{i.full_describe}}</span>
          </li>
          <li>
            <label>Date/Time:</label><span>{{i.describe}}</span>
          </li>
        </ul>
      </div>


      <div class="bb-node calendar-node">
        <h3>Export to calendar</h3>
        <ul class="show_list" ng-repeat="i in total.items">
          <li>
            <label>Links :</label>
            <span>
              <a class="image" title="Add this booking to an Outlook Calendar" href="{{total.icalLink()}}"><img alt="" src="http://uk.bookingbug.com/assets/outlook.png"></a>
              <a class="image" title="Export this booking to an iCal Calendar" href="{{total.webcalLink()}}"><img alt="" src="http://uk.bookingbug.com/assets/ical.png"></a>
              <a class="image" title="Export this booking to Google Calendar" href="{{total.gcalLink()}}" target="_blank"><img src="http://uk.bookingbug.com/assets/gcal.png" border="0"></a>
            </span>
          </li>
        </ul>
      </div>

      <div ng-controller='CustomConfirmationText' class="message-node">
        <div ng-repeat="msg in messages">{{msg}}</div>
      </div>


    </div>

    <div class="bb-actions">
      <div class="bb-prev">
      </div>
      <div class="bb-current">
      </div>
      <div class="bb-next">
        <payment_button value="Make Payment" class="bb-btn-next"
          ng-if="total.$has('new_payment')" total="total" bb="bb"
          decide-next-page="decideNextPage">
        </payment_button>
        <a href="" class="bb-btn-next" ng-click="print()">Print</a>
      </div>
    </div>

  </div>
</div>
