<div bb-checkout class="bb-checkout">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">

      <div class="bb-subcontent">
      
        <div class="confirmation-header bb-confirmation-border-margin">
          <div ng-if="total && !total.containsWaitlistItems()">
            <h2><span translate="CONFIRMATION_BOOKING_TITLE"></span></h2>
            <p class="bb-confirmation-p-alignment"><span translate="CONFIRMATION_BOOKING_SUBHEADER" translate-values="{member_name: total.client.first_name}"></span></p>
          </div>
           <div ng-if="total && total.containsWaitlistItems()">
            <h2><span translate="ITEM_CONFIRMATION"></span></h2>
            <p class="bb-confirmation-p-alignment"><span translate="CONFIRMATION_BOOKING_SUBHEADER_WITH_WAITLIST" translate-values="{member_name: total.client.first_name}"></span></p>
          </div>
          <div class="row hidden-print text-right">
            <button type="button" class="btn btn-link" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> <span translate="PRINT"></span></button>
            <div bb-booking-export class="bb-booking-export"></div>
          </div>
        </div>

        <div ng-show="total">
          <ul class="confirmation-summary" ng-repeat="i in total.items track by $index">
            <li ng-if="total.id" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="BOOKING_REFERENCE"></span>:</div>
              <div class="col-sm-9">{{total.id}}</div>
            </li>
            <li ng-if="i.name" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="RECIPIENT_NAME"></span>:</div>
              <div class="col-sm-9">{{i.name}}</div>
            </li>
            <li ng-if="i.description" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="ITEM_DESCRIPTION"></span>:</div>
            <div class="col-sm-9">{{i.description}}</div>
            </li>
            <li ng-if="i.full_describe" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="ITEM_SERVICE"></span>:</div>
              <div class="col-sm-9">{{i.full_describe}}</div>
            </li>
            <li ng-if="i.describe" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="ITEM_DATE_AND_OR_TIME"></span>:</div>
              <div class="col-sm-9">{{i.describe}}</div>
            </li>
            <li ng-if="i.price" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="ITEM_PRICE"></span>:</div>
              <div class="col-sm-9">{{i.price | pretty_price }}</div>
            </li>
            <li ng-if="i.due_now != i.price" class="row confirmation-summary-item">
              <div class="col-sm-3"><span translate="ITEM_DUE_NOW"></span>:</div>
              <div class="col-sm-9">{{i.due_now | currency }}</div>
            </li>
          </ul>
          <ul ng-show="total.items[0].address.lat" class="confirmation-summary">
            <li class="row confirmation-summary-item">
              <div class="col-sm-12">
                <div bb-address-map="total.items[0].address" ng-if="total.items[0].address.lat" >
                  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                    <ui-gmap-marker coords="marker.coords" idkey="marker.id">
                    </ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
              </div>
            </li>
            <li class="row confirmation-summary-item">
              <div class="col-sm-12">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{total.items[0].address | address_single_line }}
              </div>
            </li>
          </ul>
          <div ng-if="total.$has('new_payment')" class="col-sm-12 bb-checkout-pay-button-div">
            <div payment-button 
              value="Pay" 
              class="btn btn-primary" 
              total="total" 
              bb="bb"
              decide-next-page="decideNextPage">
            </div>
          </div>
          <div bb-custom-confirmation-text class="bb-message">
            <div ng-repeat="msg in messages" ng-bind-html="msg">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="bb-step-navigation">
</div>

<div ng-show="isLoaded" class="powered-by visible-print">
  <p><span translate="POWERED_BY"></span> <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
