<div class="ng-cloak bb-info-window">
  <p><strong>{{ parameter.title }}</strong></p>
  <p ng-if="parameter.address.address1">{{ parameter.address.address1 }}</p>
  <p ng-if="parameter.address.address2">{{ parameter.address.address2 }}</p>
  <p ng-if="parameter.address.address3">{{ parameter.address.address3 }}</p>
  <p ng-if="parameter.address.address4">{{ parameter.address.address4 }}</p>
  <p ng-if="parameter.address.address5">{{ parameter.address.address5 }}</p>
  <p ng-if="parameter.address.postcode">{{ parameter.postcode }}</p>
  <p>{{ parameter.phone | uk_local_number }}</p>
 <!--  <button type="button" ng-click="selectItem(parameter.item, 'service_list')" class="btn btn-primary">select</button> -->
<!--   <button type="button" ng-click="select(parameter.item, 'service_list')" class="btn btn-primary">select</button> -->
</div>
