<div class="header">

  <div bb-form-data-store></div>

<!--   <div bb-breadcrumbs class="breadcrumbs_holder" ng-init="setRoute([
      {page:'event_list', title: 'Select an event'},
      {page:'event', title: 'Event'},
      {page:'checkout', title: 'Confirmation'}
      ])">
  </div> -->
  <!-- <div progressbar value="bb.percentage_complete" type="primary"></div> -->

<!--   <div ng-if="bb.current_step" class="step-heading">
    <span ng-if="bb.current_step != 1 && bb.current_step <  bb.allSteps.length" ng-bind="'Step ' + (bb.current_step - 1) + ' of ' + (bb.allSteps.length - 2)"></span>
    <span ng-if="bb.current_step == bb.allSteps.length" ng-bind="'Complete'"></span>
  </div> -->

  <div class="row">
    <div class="col-sm-12">
      <div bb-translate ng-hide="bb.current_page == 'checkout' || bb.current_page == 'checkout_event' " class="btn-group" dropdown is-open="status.isopen" >
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" title="{{'CHANGE_LANG' | translate}}">
          <span translate="{{selected_language.key}}"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="language in languages"><a ng-click="changeLanguage(language)"><span translate="{{language.key}}"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="alerts" bb-scroll-to="alert:raised">
    <div alert ng-repeat="alert in $root.alerts" type="{{alert.type}}">
     <ul>
       <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div class="content">

  <div bb-content class="ng-cloak"></div>
  <div bb-display-mode></div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span><span translate="POWERED_BY"></span> <a href="http://www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
