<div bb-purchase="{move_route: 'calendar'}">

  <div class="bb-checkout">

    <div class="row">

      <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">

        <div ng-if="purchase && bookings.length == 0">
          <div class="confirmation-header">
            <h2 class="confirmation-heading"><span translate="CANCEL_CONFIRMATION"></span></h2>
          </div>
        </div>

        <div ng-if="bookings">
          <div ng-show="is_waitlist">
            <div bb-include="book_waitlist"></div>
          </div>
          <div ng-hide="is_waitlist">
            <div class="confirmation-header">
              <h2 class="confirmation-heading"><span translate="CONFIRMATION_PURCHASE_TITLE" translate-values="{service_name: purchase.bookings[0].service_name}"></span></h2>
              <!-- <p ng-if="bb.current_item.move_done" class="move-done-msg">Your booking has been moved to <strong>{{purchase.bookings[0].datetime | datetime: "h:mma dddd Do MMMM"}}</strong>.</p> -->
              <div class="row hidden-print text-right" >
              <button type="button" class="btn btn-link" onclick="window.print()"><span class="glyphicon glyphicon-print"></span><span translate="PRINT"></span></button>
              <div bb-booking-export class="bb-booking-export"></div>
              </div>
            </div>

            <ul class="confirmation-summary bb-checkout-top-border">
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="RECIPIENT_NAME"></span>:</div>
                <div class="col-xs-9">{{purchase.client.name}}</div>
              </li>
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="DETAILS_EMAIL"></span>:</div>
                <div class="col-xs-9">{{purchase.client.email}}</div>
              </li>
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="ITEM_SERVICE"></span>:</div>
                <div class="col-xs-9">{{purchase.bookings[0].service_name}}</div>
              </li>
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="ITEM_WHEN"></span>:</div>
                <div class="col-xs-9">{{purchase.bookings[0].datetime | datetime: "h:mma dddd Do MMMM":false}}</div>
              </li>
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="ITEM_WHERE"></span>:</div>
                <div class="col-xs-9">
                  <ul class="address">
                    <li class="address-item">{{bb.company.name}}</li>
                    <li class="address-item">{{bb.company.getAddress() | address_single_line}}</li>
                    <li class="address-item">{{bb.company.getAddress().phone | uk_local_number}}</li>
                  </ul>
                </div>
              </li>
              <li class="row confirmation-summary-item">
                <div class="col-xs-3"><span translate="ITEM_PRICE"></span>:</div>
                <div class="col-xs-9">{{purchase.total_price | pretty_price }}</div>
              </li>
            </ul>

            <div class="payment">
              <div bb-custom-confirmation-text class="text-block-sml bb-message-buffer" ng-show="messages">
                <p ng-repeat="msg in messages" ng-bind-html="msg"></p>
              </div>
            </div>

            <div class="hidden-print">
              <div class="bb-step-navigation">
                <div class="col-sm-4">
                  <button type="button" class="btn btn-secondary btn-block" ng-click="delete(bookings[0])"><span translate="PROGRESS_CANCEL_BOOKING"></span></button>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-primary btn-block" ng-click="move(bookings[0], '', {use_resource: true})"><span translate="PROGRESS_MOVE_BOOKING"></span></button>
                </div>
                <div ng-show="waitlist_bookings"class="col-sm-4">
                  <button type="button" class="btn btn-primary btn-block" ng-click="is_waitlist = true"><span translate="PROGRESS_BOOK_WAITLIST_ITEMS"></span></button>
                </div>
              </div>
            </div>

          </div>

        </div>

       </div>

    </div>

  </div>

<!--   <div ng-show="bb.moving_booking && !bb.current_item.move_done" bb-scroll-to="booking:move" bb-always-scroll class="move-booking-container hidden-print">
    <hr>
    <h2 ng-hide="purchase && bookings.length == 0">Move your booking</h2>
    <div bb-content></div>
  </div> -->

</div>