#day_page {
  .valign { display: table; width: 100%; }
  .valign > div { display: table-cell; vertical-align: middle; }
  .bb-navigation {
    .bb-nav {
      text-align: center;
      .bb-date {
        padding: 6px 12px;
        line-height: 2;
      }
    }
  }
  th {
    text-align: left;
    h2 {
      font-weight: bold;
      font-size: 3em;
      margin: 5px;
    }
  }
  .bb-date-pick {
    .bb-month-frame {
      margin-top: 10px;
      .bb-month-name {
        h2 {
          margin: 0;
          text-align: center;
        }
      }
    }
  }
  table.bb-month {
    width: 100%;
    margin: 0 auto 0 auto;
    .time-slot {
      width: 100%;
      display: block;
      @media (min-width: 768px) {
        height: 90px;
      }
      &.not-avail {
        background: #dbdbdb;
        border: 1px solid transparent;
        color: #999;
        cursor: default;
      }
      &.off-prev {
        background: #f2f2f2;
        color: #fff;
        border: 1px solid transparent;
      }
      &.off-next {
        background: #f2f2f2;
        color: #999;
        border: 1px solid transparent;
      }
    }
    th {
      text-align: center;
      padding: 10px 0;
    }
  }
}
