// @import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300,600,700,bold");
@import "bootstrap/bb-sass/bootstrap.scss";

// temporary fix to ensure modals get styled correctly, see #3205
@import "bootstrap/sass/buttons";
@import "bootstrap/sass/modals";
// #3205 fix end

@import "service_list.scss";
@import "day.scss";
@import "time.scss";

#bb{
  margin: 0;

p {
  font-size: 1em;
  line-height: 20px;
  color: #4e4d4a;
}
.container { 
  .navigation {
    padding: 10px 0;
  }
  .body, .actions {
    background-color: #dbdbdb;
    padding: 10px 0;
  }
}
.breadcrumbs-holder {
  padding: 10px 0;
  margin: 5px 0;
  .step-num {
  }
  .step-title {
  }
  .breadcrumb {
    background-color: #ebebeb;
  }
  .breadcrumb > li + li:before {
    content: "\003e";
  }
}
.month {
  overflow-x: hidden;
}

.bb-header {
  background-color: #087e94;
  position: relative;
  z-index: 10;
}
.bb-title {
  @extend .container;
  h3 {
    color: #fff;
    font-weight: 600;
    margin: 25px 0;
  }
}
.bb-name {
  @include make-sm-column(9);
  border-right: 1px dotted #fff;
}
.bb-controls {
  @include make-sm-column(3);
  text-align: right;
  color: #fff;
  .bb-mini-basket {
    margin: 10px 0;
  }
  .bb-member {

    span {
      color: #fff;
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.bb-times {
  @extend .container;
  .bb-time {
    @extend .panel;
    @extend .panel-default;
    margin-top: 10px;
    padding-bottom: 10px;
    .time-slot {
      @extend .col-sm-2;
      margin-top: 10px;
      .btn {
        display: block;
      }
    }
  }
}
.bb-navigation {
  @extend .container;
  .bb-nav {
    text-align: center;
    .bb-date {
      padding: 6px 12px;
      line-height: 2;
    }
  }
}
.bb-btn {
  @extend .btn;
  @extend .btn-default;
}
.bb-btn-prev {
  @extend .btn;
  @extend .btn-primary;
}
.bb-btn-next {
  @extend .btn;
  @extend .btn-primary;
}
.bb-btn-remove {
  @extend .btn;
  @extend .btn-danger;
}
.bb-date-pick {
  @extend .container;
  .bb-month-frame {
    @extend .panel;
    @extend .panel-default;
    margin-top: 10px;
    .bb-month-name {
      @extend .panel-heading;
      h2 {
        margin: 0;
        color: #087f94;
        text-align: center;
      }
    }
  }
}
label {
  font-weight: normal;
  color: #666;
}




.bb-actions {
  padding: 5px;
}
.bb-push {
  float: right;
}
.bb-pull {
  float: left;
}

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign ​ > article { display: table-cell; vertical-align: middle; }

th {
  text-align: left;
  h2 {
    font-weight: bold;
    font-size: 3em;
    color: #087f94;
    margin: 5px;
  }
}
table.bb-month {
  width: 100%;
  margin: 0 auto 0 auto;
  .time-slot {
    @extend .btn;
    @extend .btn-default;
    width: 100%;
    display: block;
    @media (min-width: 768px) {
      height: 90px;
    }
    &.not-avail {
      background: #dbdbdb;
      border: 1px solid transparent;
      color: #999;
      cursor: default;
    }
    &.off-prev {
      background: #f2f2f2;
      color: #fff;
      border: 1px solid transparent;
    }
    &.off-next {
      background: #f2f2f2;
      color: #999;
      border: 1px solid transparent;
    }
  }
  th {
    text-align: center;
    padding: 10px 0;
  }
}

.no-value {
  display:block;
  text-align:center;
  height:50%;
  margin-top:10%;
  margin-bottom:10%;
}

.bb-client, 
.bb-checkout, 
.bb-booking,
.bb-member-bookings,
.bb-member  {
  @extend .container;
}
.bb-frame {
  @extend .panel;
  @extend .panel-default;
  .bb-head {
    @extend .panel-heading;
    h2 {
      margin: 0;
      color: #087f94;
    }
  }
  .bb-question-heading {
    @extend .panel-heading;
    font-size: 1.3em;
    margin: 0;
    color: #087f94;
  }
  .bb-form {
    @extend .form;
    @extend .form-horizontal;
    h2 {
      margin: 0;
      color: #087f94;
    }
    .bb-entry {
      @extend .form-group;
      margin: 5px 0;
      label {
        @include make-md-column(2);
        @extend .control-label;
      }
      .bb-field {
        @extend .col-md-10;
      }
    }
    .form-question {
      @extend .form-control;
      @extend .input-sm;
      @extend .clearfix;
    }
  }
  ul {
    list-style: none;
    li {
      @extend .clearfix;
      label {
        @include make-sm-column(3);
        text-align: right;
      }
      span{
        @include make-sm-column(9);
      }
    }
  }
  .bb-node {
    @include make-sm-column(6);
    margin-top: 10px;
  }
  .message-node {
    @extend .clearfix;
    @include make-sm-column(12);
  }
  .question-node {
    @extend .clearfix;
    @include make-sm-column(12);
    
    .form-question {
      @extend .form-control;
      @extend .input-sm;
      @extend .clearfix;
    }
  }
  .calendar-nod {
    @extend .clearfix;
  }
}
.bb-tabs {
  margin-top: 20px;
}
.bb-past,
.bb-upcoming {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
  @extend .clearfix;
  .booking-row {
    @extend .clearfix;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }
  }
  .type {
    @include make-sm-column(1);
    div {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
  }
  .describe,
  .datetime {
    @extend .col-sm-5;
  }
  .bb-bookings-action {
    @extend .col-sm-1;
  }
}
.bb-week {
  @extend .container;
  .bb-week-frame {
    @extend .row;
    .bb-week-column {
      @include make-xs-column(2);
      width: 14.2%;
      h3 {
        text-align: center;
      }

      .bb-times {
        a.btn {
          padding:5px 3%;
          text-align:center;
          width: 100%;
        }
      }
    }
  }
}
.bb-panel-head {
  @extend .panel-heading;
  h2 {
    margin: 0;
    color: #087f94;
  }
}
.bb-basket {
  @extend .container;
  .bb-frame {
    @extend .clearfix;
    .bb-basket-items {
      margin: 10px 0;
    }
    .bb-entry {
      @include make-sm-column(6);
      @extend .clearfix;
      margin: 5px 0;
      .bb-desc {
        @include make-xs-column(10);
      }
      .bb-action {
        @include make-xs-column(2);
      }
    }
    table.bb-basket-items {
      width:94%;
      margin: 10px 3%;
      th {
        color: #666;
      }
      .bb-entry {
        margin: 5px 0px;
        .bb-table-desc {
          width:70%;
        }
        .bb-table-price {
          width:20%;
        }
        .bb-table-actions {
          width:10%;
        }
      }
      .last-item {
        .bb-table-desc, .bb-table-price {
          border-bottom: 1px solid #CCC;
        }
      }
      .total_row {
        th {
          text-align: right;
          padding-right:10px;
        }
        td {
          font-size:1.2em;
        }
      }
    }
  }
}

.bb-actions {
  @extend .container;
  .tandc, .add-item {
    @include make-sm-column(9);
  }
  .bb-prev {
    @include make-sm-column(3);
  }
  .bb-current {
    @include make-sm-column(6);
    text-align: center;
  }
  .bb-next {
    @include make-sm-column(3);
    text-align: right;
  }
}


#loading_icon {
  top:80px;
}


.question-list{
  .l {
    height:100%;
    border-right:1px solid #CCC;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EEE;
    line-height:30px;
    margin:3px 0;
    float:left;
    text-align:right;
  }
  .r {
    float:right;
    position: relative;
    margin:3px 0;
    label{
      text-align: left;
    }
  }
}

.custom-messages {
  margin-top:20px;
  margin-bottom:20px;
}
.bb-footer {
  @extend .container;
  margin-top: 20px;
}

#loading_icon{
  height:100%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:#FFF;
  padding-top:100px;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 2000;
}
#loading_icon div{
  display:block;
  margin:0 auto;
}
#loading_icon #wait_graphic
{
  // background:url("/assets/BB_wait.gif");
  width:118px;
  height:118px;
}
.bb-search-nav {
  @extend .navbar;
  @extend .navbar-default;
  @extend .container-fluid;
}
.form-map-search {
  padding: 5px;
  margin: 0 15px;
}
.map-canvas {
  width: 100%;
  height: 500px;
}
.map-item {
  padding:5px;
}
.company-block {
  @include make-md-column(6);
  @include make-md-column-pull(6);
}
.map-block {
  @include make-md-column(6);
  @include make-md-column-push(6);
}
.company-listing {
  @include make-lg-column(6);
  @include make-md-column(12);
}
.company-map {
  //@extend .container-fluid;
}
hr {
  margin: 5px 0;
  border-color: #DDD;
}


.bb-pop-basket {
  position: relative;
  height:0;
  z-index: 100;
  .bb-pop-basket-inner {
    position: absolute;
    margin-left:25%;
    margin-top:200px;
    width:50%;
    border:2px solid #DDD;
    border-radius: 8px;
    background-color: #FFF;
    .desc {
      width:70%;
      float:left;
    }
    .action {
      width:30%;
      float:right;
    }
    .bb-entry {
      margin:8px 10px;
      @extend .clearfix;
    }
    .add-item {
      @include make-sm-column(6);
    }
  }
}


.bb-package {
  .bb-picker-item {
    margin:5px;
  }
  .bb-picker-time {
    font-size:1.7em;
    font-weight: bold;
  }
  .bb-picker-describe {
    font-size:1.2em;
    color:#666;
  }
}

.bb-display-mode {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
 
.bb-display-mode span {
  display: inline-block;
  height: 1px;
  width: 1px;
}

.bb-purchase.print {
  li p span {
    width: 200px;
    float: left;
    margin-left: 10px;
  }
}

.bb-payment {
  iframe {
    width: 100%;
    border: none;
    height: 600px;
  }
}

.bb-payment-form {
  legend.card-expiry {
    font-weight: normal;
    color: #666;
    border: 0;
    font-size: 14px;
    margin-bottom: 5px;
  }
  select#exp_month,
  select#exp_year {
    width: auto;
    display: inline;
  }
  select#card_type,
  select#security_code {
    width: auto;
  }
}


}
