@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
#bb {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }
  #bb h1, #bb h2, #bb h3, #bb h4, #bb h5, #bb h6 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    font-weight: 200; }
  #bb .alert {
    font-size: 16px;
    font-size: 1.6rem; }
  #bb .breadcrumb {
    padding: 0px;
    list-style: none;
    background-color: transparent;
    margin-bottom: 30px; }
    #bb .breadcrumb li button {
      color: #fff;
      font-size: 12px;
      font-size: 1.2rem;
      width: 100%; }
    #bb .breadcrumb li button.active {
      color: #000000; }
      @media (max-width: 768px) {
        #bb .breadcrumb li button.active {
          padding-left: 0px; } }
    #bb .breadcrumb li button.passed {
      color: #CCC; }
    #bb .breadcrumb > li + li:before {
      content: none; }
    #bb .breadcrumb .glyphicon-chevron-right {
      padding-left: 24px; }
  #bb .modal-title {
    font-size: 22px;
    font-size: 2.2rem; }
  #bb .modal-header {
    border-bottom: none; }
  #bb .modal-body {
    padding-bottom: 0;
    font-size: 16px;
    font-size: 1.6rem; }
  #bb .modal-footer {
    border-top: none; }
  #bb .move-booking-container {
    min-height: 800px; }
  #bb .panel {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 15px; }
    #bb .panel:first-child {
      border-top: 1px solid #dddddd; }
    #bb .panel:last-child {
      margin-bottom: 20px; }
  #bb .panel-group .panel + .panel {
    margin-top: 0;
    border-top: none; }
  #bb .panel-title {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 200;
    padding-bottom: 15px; }
  #bb .radio label, #bb .checkbox label {
    font-weight: 300; }
  #bb .glyphicon-trash:hover {
    cursor: pointer; }
  #bb .glyphicon-shopping-cart:hover {
    cursor: pointer; }
